{
  "sdk": {
    "version": "10.0.400",
    "rollForward": "latestFeature",
    "allowPrerelease": false
  },
  "msbuild-sdks": {
    "Ankus.Sdk": "__VERSION__"
  },
  "test": {
    "runner": "Microsoft.Testing.Platform"
  }
}
