<Project>
  <PropertyGroup>
    <ManagePackageVersionsCentrally>true</ManagePackageVersionsCentrally>
  </PropertyGroup>
  <ItemGroup>
    <PackageVersion Include="Ankus.Testing" Version="__VERSION__" />
    <PackageVersion Include="Npgsql" Version="10.0.3" />
  </ItemGroup>
</Project>
